
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
    border:none;
    transition:all .2s linear;
    font-family: "Poppins", sans-serif;
}

/* *::selection{
    background:#7eabae;
    color:#443434;
} */

 html{
    font-size:62.5%;
    overflow-x:hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
  }
html::-webkit-scrollbar-track{
    background: #eadbc4;
    border: 1px solid #443434;
  }
html::-webkit-scrollbar-thumb{
    background: #443434;
    border-radius: 5px; }
  
body{
   background:#7eabae;
   overflow-x:hidden;
   padding-left:35rem;
}
header{
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    height:100%;
    width:35rem;
    background:#eadbc4;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;
    text-align:center; 
    border-right: 2px solid #443434; 
}

header .user img{
    height:13rem;
    width:13rem;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:-1.5rem;
    margin-top: 2rem;
    border:.7rem solid #7eabae;    
}

header .user .name{
    font-size:3.5rem;
    color:#7eabae;
    font-weight: bolder;
}

header .user .name span{
    font-size: 6rem;
    color: #443434;
    font-weight: 900;
}

header .user .post{
    font-size:2rem;
    color:#443434;
    font-weight: bold;
}


header .navbar{
    width:100%;
}

header .navbar ul{
    list-style:none;
    padding:1rem 3rem;
}

header .navbar ul li a{
    display:block;
    padding:1rem;
    margin:1.5rem 0;
    background:#7eabae;
    color:#eadbc4;
    font-size:2rem;
    font-weight: bold;
    border:1px solid #443434;
    border-radius:5rem;
}

header .navbar ul li a:hover{
    background:#443434;
}


#menu{
    position:fixed;
    top:2rem;
    right:2rem;
    background: transparent;
    color:#443434;
    cursor:pointer;
    font-size:2.5rem;
    padding:1rem 1.5rem;
    z-index:1000;
    display:none;
}

section{
   min-height:100vh;
   padding:1rem; 
}


  /* home start  */
.container{
 width: 30%;
 height: 40%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100px;
    height: 100px;
}
.home{
    display:flex;
    justify-content:center;
    flex-flow:column;
    padding:0 5rem;   
}

.home h3{
    font-size:3rem;
    color:#eadbc4;
    font-weight: 700;
    margin-bottom: -3.5rem;
}

.home h1{
    font-size:3rem;
    color:#eadbc4;
    font-weight: 900;
}

.home h1 span{
    color:#eadbc4;
    font-size: 8rem;
    font-weight: bold;
}

.home h1 #eezReaL{
    color: #7eabae;
    font-size: 8rem;
    font-weight: bold;
}

.home h1 #eezReaL::before{
    content: attr(data-text);
    width: 0;
    height: 15%;
    position: absolute;
    color: #eadbc4;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;

    }
    70%,90%{
        width: 63.3%;
    }
}

.home h1 #j{
    color: #443434;
    padding-left: .5rem;
    font-weight: bold;
}

.home p{
    font-size:2rem;
    color:#443434;
    padding:1rem 0;
    font-weight:bold; 
    text-align: justify;
    
}

.home a .btn{
    font-size: 2rem;
    font-weight: bold;
    color: #443434;
    padding: 1rem 1rem 1rem;
    width: 18rem;
    height: 5rem;
    background: #eadbc4;
    border: 2px solid #443434;
    border-radius: 2rem;
    margin-bottom: 5px;
    cursor: pointer;
}

.home a .btn:hover{
    background: #7eabae;
}

.wrapper{
    display:inline-flex;
}


.wrapper .icon{
    margin-top:-20%;
    margin:50px 8px 0 17px;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    z-index:2;
    transition:all 0.4s cubic-bezeir(0.68,-0.55,0.265,1.55);

}

.wrapper .icon span {
    position: relative;
    z-index:2;
    height:30px;
    width:30px;
    display:block;
    background:#fff;
    text-align:center;
    border-radius:50%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span a i{
    color:#443434;

}
.wrapper .icon span  i{
    font-size:15px;
    line-height:30px;
}


.wrapper .icon:hover span i{
    color:#fff;
}

.wrapper .icon .tooltip{
    color:#fff;
    background:#fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-size:10px;
    border-radius:25px;
    padding:5px 10px;  
    position:absolute;
    top:0px;
    opacity:0;
    pointer-events:none;
    transition:all 0.4s cubic-bezeir(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
    top:-50px;
    opacity:1;
    pointer-events:auto;
}

.wrapper .icon .tooltip:before{
    position:absolute;
    content:"";
    height:15px;
    width:15px;
    background:#fff;
    bottom:-8px;
    left:50%;
    transition:all 0.4s cubic-bezeir(0.68,-0.55,0.265,1.55);
    transform: translateX(-50%) rotate(45deg);   
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow:0px -1px 0px rgba(0,0,0,0.4); 
}

.wrapper .Facebook:hover span,
.wrapper .Facebook:hover .tooltip,
.wrapper .Facebook:hover .tooltip:before{
background:#3b5999;
}


.wrapper .Twitter:hover span,
.wrapper .Twitter:hover .tooltip,
.wrapper .Twitter:hover .tooltip:before{
 background-color: #1da1f2;
}


.wrapper .Instagram:hover span,
.wrapper .Instagram:hover .tooltip,
.wrapper .Instagram:hover .tooltip:before{
background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
}

 /* home end  */

.heading{
    font-style:'Poppins';
    text-align:center;
    margin:0 6rem;
    font-size:5rem;
    padding:1rem;
    font-weight:900;
    border-bottom: .3rem solid #443434;
    border-radius: 5px;
    color:#eadbc4;
}

.heading span{
    color:#443434;
}

.heading #as{
    color: #443434;
    font-size: 1rem;
}

/* about start  */

.about .row{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding:1rem 0;
}

.about .row .info{
    flex: 1 1 48rem;
    padding:2rem 1rem;
    padding-left:6rem;
}

.about .row .info h3{
    font-size:1.5rem;
    color:#443434;
    padding:1rem 0;
    font-weight:bold;  
}




.about .row .counter{
    flex: 1 1 48rem;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}


.about .row .counter .box  {
    width:35rem;
    height: 40rem;
    background:#eadbc4;
    text-align: center;
    padding:6rem;
    margin:2rem;
    margin-left: -4rem;
    border-radius:1rem;
    border: 2px solid #443434;
}

.about .row .counter .box img{
    width: 20rem;
    height: 20rem;
   

}
.about .row .counter .box h2{
    font-size: 2rem;
    opacity: 1;
    color: #443434;
    text-align: center;
    
}

.about .row .counter .box span{
    font-size:2rem;
    color:#7eabae;
}

.about .row .counter .box h3{
    font-size:2rem;
    color:#443434;
}

/* about end  */

/* education start  */

.education .box-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:1rem 0;
    padding-left:3rem; 
}

.education .box-container .box{
    width:27rem;
    height: 45rem;
    margin:4rem 1rem;
    padding-left:4rem;
    border-left: .4rem solid #eadbc4;
    position:relative;
}

.education .box-container .box span{
    font-size:1.3rem;
    background:#eadbc4;
    color:#443434;
    border-radius:5rem;
    font-weight: bold;
    padding: .5rem 2.5rem;  
    border: 1px solid #443434;
}

.education .box-container .box h3{
    font-size:2rem;
    color:#443434;
    padding-top:1.5rem;
}


.education .box-container .box p{
    font-size:1.4rem;
    color:#443434;
    padding:1rem 0;
    text-align: left;
}

.education .box-container .box i{
    position:absolute;
    top:-1.5rem;
    left:-2.5rem;
    height:5rem;
    width:5rem;
    border-radius:50%;
    line-height:5rem;
    text-align:center;
    font-size:2rem;
    color:#443434;
    background: #eadbc4;
    border: 1px solid #443434;

    
}

/* education ends  */


/* works start  */


.works .box-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding:2rem 0;
}

.works .box-container .box{
    height:20rem;
    width:26rem;
    border-radius:1rem;
    margin:2rem;
    background-color: #eadbc4;
    border: 2px solid #443434;
    padding: 2rem;
    overflow:hidden;
    cursor:pointer;
}

.box p{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.box img{
    height:100%;
    width:100%;
    padding: .5rem;
    transition: transform 0.3s ease-in-out;
}

 .box:hover img{
    transform:scale(1.3);
}

/* works ends  */

/* .contact start  */


.contact .row{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.contact .row .content{
    flex: 1 1 30rem;
    padding:4rem;
    padding-bottom:0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom:4rem;   
}

.contact .row form .box{

   padding:1.5rem;
   margin: 1rem 0;
   background:#eadbc4;
   border: 1px solid #443434;
   border-radius: 1rem;
   color:#443434;
   text-transform:none;
   font-size:1.7rem;
   width:100%;
   margin-left: 0.3rem;
}
.contact .row form .box::placeholder{
    text-transform:capitalize;
    color: #443434;
}

.contact .row form .message{
   height:15rem;
   resize:none;
}

.contact .row .content .title{
    text-transform:uppercase;
    color: #444;;
    font-size:3rem;
    padding-bottom:2rem;
    text-align: center;
}


.contact .row .content .info h3{
    display:flex;
    align-items:center;
    font-size:2rem;
    color: #444;;
    padding:1rem 0;
    font-weight:bold;
}

.contact .row .content .info{
    border:2px solid #443434 ;
    border-radius: 1rem;
    width: auto;
    padding: .2rem;
    background: #eadbc4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact .row .content .info h3 i {
    padding: 1rem;
    color:#443434;  
}


.contact .row .content .info1 h3{
    display:flex;
    align-items:center;
    font-size:2rem;
    color: #444;;
    padding:1rem 0;
    font-weight:bold;
}

.contact .row .content .info1{
    border:2px solid #443434 ;
    border-radius: 1rem;
    width: auto;
    padding: .2rem;
    background: #eadbc4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.contact .row .content .info1 h3 i {
    padding: 1rem;
    color:#443434;  
}


.contact .row .btn{
    
    font-size: 2rem;
    font-weight: bold;
    color: #443434;
    padding: 0.5rem;
    width: 18rem;
    height: 5rem;
    background: #eadbc4;
    border: 2px solid #443434;
    border-radius: 2rem;
    margin-top: -5rem;
    text-align: center;
    cursor: pointer;
    }
    
    .contact .row .btn i{
        padding:0 .5rem;
        font-size:1.8rem;
        text-align: center;
    }
    
    .contact .row  .btn:hover{
        background:#7eabae;
    }

    .contact .row .btn{
        margin-bottom: 4rem;
    }
    
    /* contact ends  */


    /* footer start  */


    footer{
        background-color:#eadbc4;
        height: auto;
        width: 100wh;
        padding-top: 3rem;
        color: #443434;
        border-top: 2px solid #443434;
        display: grid;
        place-items: center;
    }

    .footer-con{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-con h3{
        font-size: 2rem;
        font-weight: bold;
        line-height: 3rem;

    }

    .footer-con p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 15px;
        font-size: 1.5rem;
    }
     
    .footer-bot{
        background-color: #443434;
        color: #eadbc4;
        text-align: center;
        height: 30px;
        width: 100%;
    }
    .footer-bot p{
        padding-top: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }

    /* footer ends  */





  /* media attributes  */


@media (max-width:1200px){
    html{
        font-size:55%;
    }
    
    .home{
        padding:1rem 4rem;
    }
}


@media (max-width:991px){
    header{
        
        left:-120%;
    }
    
    #menu{
        display:block;
    }
    
    header.toggle{
        left:0;
    }
    
    body{
        padding:0;
    }
}


@media (max-width:768px){
    html{
        font-size:50%;
    }
    .heading{
        font-size:4rem;
    }
    .home h1 #eezReaL{
        font-size:5.8rem;
    }
    .home h1 #j{
        font-size:5.8rem;
    }
    
    .home h1{
        margin-top:1rem;
    }
    .container{
        width:40%;
    }
    
    .about .row .counter .box{
       margin-left:2rem;
    }
    
    .contact .row form{
        margin-left:-2rem;
    }
    .works .box img{
        height:100%;
        width:80%;
        margin-left:2rem;
    }
}

@media (max-width:400px){
    header{
        width:100wh;
    }
    
    .heading{
        margin: 0 3rem;
    }
    
    .about .row .counter .box{
        width:100%;
    }
    
    .education .box-container .box{
        width:100%;
    }
    .works .box-container .box {
        width:100%;
    }
    .btn{
    padding:2rem 3rem;
    background:#333;
    margin-top:1rem;
    font-size:2rem;
    border-radius:5rem;
}

.contact .row form{
    /* margin:3rem 0; */
    margin-right: -2rem;
}

}
